@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Etch.Models.AccountModels.LoginModel
@{ ViewData["Title"] = "Login"; }
@section styles {
    <!-- Get Form CSS -->
    <link rel="stylesheet" href="~/assets/styles/form.css" />
}

<div class="center padding-32px">
    <!-- Logo -->
    <a asp-area="" asp-controller="Home" asp-action="Index" class="margin-bottom logo transition-4s"><img src="~/assets/images/header/etch.png" alt="Logo" /></a>

    <!-- Login Form -->
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        @Html.AntiForgeryToken()
        <!-- Validation Summary -->
        <div asp-validation-summary="All" class="messages"></div>

        <!-- Email Input -->
        <span asp-validation-for="Email" class="message"></span>
        <div class="margin-bottom">
            <input asp-for="Email" type="email" placeholder="@Html.DisplayNameFor(m => m.Email)*" class="transition-2s" required />
        </div>

        <!-- Password Input -->
        <span asp-validation-for="Password" class="message"></span>
        <div class="margin-bottom">
            <input asp-for="Password" type="password" placeholder="@Html.DisplayNameFor(m => m.Password)*" class="transition-2s" required />
        </div>

        <!-- Forgot Password -->
        <p class="margin-bottom">Forgot your password? 
            Click <a asp-action="ForgotPassword" class="link">here</a> to reset.</p>
       
        <!-- Remember Me Toggle -->
        <div class="margin-bottom">
            <label asp-for="RememberMe">
                <span class="vertical-align">Stay signed in?</span>
                <input asp-for="RememberMe" type="checkbox" />
                <label for="@Html.DisplayNameFor(m => m.RememberMe)"></label>
            </label>
        </div>

        <!-- Buttons -->
        <button type="submit" class="button margin-bottom transition-2s">Login</button>
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="button transition-2s">Register</a>
    </form>
</div>