@model Etch.Models.ManageModels.ChangePasswordModel
@{ ViewData["Title"] = "Change Password"; }
@section styles {
    <!-- Get Form CSS -->
    <link rel="stylesheet" href="~/assets/styles/form.css" />
}

<div class="center padding-32px">
    <!-- Logo -->
    <a asp-area="" asp-controller="Home" asp-action="Index" class="margin-bottom logo transition-4s"><img src="~/assets/images/header/etch.png" alt="Logo" /></a>

    <!-- Register Form -->
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        @Html.AntiForgeryToken()
        <!-- Validation Summary -->
        @Html.Partial("_StatusMessage", Model.StatusMessage)
        <div asp-validation-summary="All" class="messages"></div>

        <!-- Old Password Input -->
        <span asp-validation-for="OldPassword" class="message"></span>
        <div class="margin-bottom">
            <input asp-for="OldPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.OldPassword)*" class="transition-2s" required />
        </div>

        <!-- New Password Input -->
        <span asp-validation-for="NewPassword" class="message"></span>
        <div class="margin-bottom">
            <input asp-for="NewPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.NewPassword)*" class="transition-2s" required />
        </div>

        <!-- Confirm Password Input -->
        <span asp-validation-for="ConfirmPassword" class="message"></span>
        <div class="margin-bottom">
            <input asp-for="ConfirmPassword" type="password" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword)*" class="transition-2s" required />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="button transition-2s">Change Password</button>
    </form>
</div>
